$theme-colors : (
	"white" : #e6f9fb,
	"lightgreen" : #5ff385,
	"green" : #446051,
	"darkgreen" : #032804,
	"black" : #0d0d0d
);


@import '../node_modules/bootstrap/scss/bootstrap';

// body {
// 	background-color: indianred;
// }

/*CSS reset*/
* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	// font-family: 'Overlock SC', cursive;
	font-family:Lucida Console, Courier, Monotype;
	// width: 100%;
}

body{
	background-color: black;
		// background-image: url("../images/1.png");

}

// .yourElement {
//   animation-duration: 3s;
//   animation-delay: 2s;
//   animation-iteration-count: infinite;
// }

.matrix { font-family:Lucida Console, Courier, Monotype; font-size:30pt; text-align:center; width:30px; padding:0px; margin:0px;}



canvas {
display: block;
position:absolute;
top:0;
left:0;
z-index: -1;
width: 100%;
}

.landing {
	min-height: 100vh;

}

.banner {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bantext {
	font-size: 40px;
}

.bantext2 {
	font-size: 30px;
}

html {
	scroll-behavior: smooth;
}

#home {
	min-height: 100vh;
		// background: url("../images/1.png");

	#me {
		height: 450px;
		width: 100%;
		// object-fit: cover;
		background-image: url("../images/anon.png");
		background-position: center bottom;
		background-size: 400px;
		background-repeat: no-repeat;
		// background-color: white;
		// .me {
		// 	height: 450px;
		// 	width: 100%;
		// 	object-fit: cover;
		// }

	}
	
	#me:hover {
		background-image: url("../images/1.png");
		transition: .3s ease-out;

	}
	#me:not(hover) {
		transition: .3s ease-out;

	}
	#me:active {
		background-image: url("../images/3.png");
	}


}


// .home {
// 	background-image: linear-gradient(to right, rgba(63, 48, 0, 0.50), rgba(208, 208, 208, 0.10), rgba(63, 48, 0, 0.50)), 
// 	url("../images/bg.jpg");
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }



#skillz {
	min-height: 100vh;
}

.skillslogo {
	width: 50px;
	height: 50px;
	// object-fit: cover;

}

#workz {
	min-height: 60vh;
	// width: 100%;
}

.cap {
  height: 250px;
  width: 100%;
  // object-fit: cover;
  // overflow: hidden;
  border-radius: 3px;
  // display: block;
}

.proj a:hover .cap{

	transform: scale(1.1);
  	transition: .5s ease-out;


}

#contactz {
	min-height: 40vh;
}


.contacts {
	text-decoration: none;
	font-family:Lucida Console, Courier, Monotype;
}

.contacts:hover {
	text-decoration: none;
}




// .imagezhighlights {
//   height: 300px;
//   width: 100%;
//   object-fit: cover;
//   overflow: hidden;
//   border-radius: 3px;
// }

// .imghov a:hover .imagezhighlights{
//   transform: scale(1.1);
//   transition: .5s ease-out;
// }




