$theme-colors : (
	"white" : #e6f9fb,
	"lightgreen" : #5ff385,
	"green" : #446051,
	"darkgreen" : #032804,
	"black" : #0d0d0d
);


@import '../node_modules/bootstrap/scss/bootstrap';

// body {
// 	background-color: indianred;
// }

/*CSS reset*/
* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	// font-family: 'Overlock SC', cursive;
	font-family:Lucida Console, Courier, Monotype;
	// width: 100%;
}

body{
	background-color: black;
}

// .yourElement {
//   animation-duration: 3s;
//   animation-delay: 2s;
//   animation-iteration-count: infinite;
// }

.matrix { font-family:Lucida Console, Courier, Monotype; font-size:30pt; text-align:center; width:30px; padding:0px; margin:0px;}



canvas {
display: block;
position:absolute;
top:0;
left:0;
z-index: -1;
width: 100%;
}

.landing {
	min-height: 100vh;

}

.banner {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bantext {
	font-size: 40px;
}
html {
	scroll-behavior: smooth;
}

#home {
	min-height: 100vh;
}

// .home {
// 	background-image: linear-gradient(to right, rgba(63, 48, 0, 0.50), rgba(208, 208, 208, 0.10), rgba(63, 48, 0, 0.50)), 
// 	url("../images/bg.jpg");
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }



#skillz {
	min-height: 100vh;
}

.skillslogo {
	width: 100px;
	height: 100px;
	// object-fit: cover;

}

#workz {
	min-height: 100vh;
	// width: 100%;
}

.cap {
	height: 250px;
	width: 100%;
	padding: 20px;
}



